/* TODO Add site wide styles */
body {
    margin: 0px;
    background-color: #f3f5f6;
}


ul {
    padding-inline-start: 25px;
    font-family: Proxima Nova,Helvetica,sans-serif;
    font-size: 14px;
}

h1 {
    margin: 0px;
}


.nav-links{
    padding: 10px;
}

.nope {
    text-align: center;
    font-family: Proxima Nova,helvetica neue,helvetica,arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
}
